.main-navbar {
  height: 70px;
  background-color: #da5c5c;
  padding-left: 45px;
  display: flex;
  align-items: center;
}

.logo-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-left: 15px;
}
